body {
    /*background-image: url(https://images.unsplash.com/photo-1444076784383-69ff7bae1b0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-attachment: fixed;*/
    /*background-color: white;*/
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1512206317687-1bde496dbe25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80");
    margin: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

html {
    scroll-behavior: smooth;
}

#header {
    border: 1px solid black;
    left: 0;
    top: 0;
    width: 100%;
}

.menu > ul > li {
    list-style-type: none;
    display:inline-block;
    font-family: sans-serif;
    background-color: #f5f3e6;
    top: 0;
    margin: 0;
}

.menu {
    background-color: #f5f3e6;
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    top: -5px;
    width: 100%;
}

.menu > ul {
  margin: 0;
}

.menu > ul > li > button {
    text-decoration-line: none;
    color: #121210;
    box-sizing: 100%;
    width: 75px;
    height: 40px;
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
}

.menu ul li button.active {
    color: indianred;
}

.menu > ul > li > button:hover{
    background-color: #1f0d0f;
    color: white;
    cursor: pointer;
}

.head_text {
    font-family: "Times New Roman", Times, serif;
    font-size: 75px;
    position: absolute;
    color: black;
    top: 1%;
    left: 15%;
}
.head_text:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

#top {
    border-color: transparent;
    background-color: transparent;
    position: fixed;
    top: 90%;
    right: 5%;
    cursor: pointer;
}

#top_img {
    width: 50px;
    position: fixed;
    top: 90%;
    right: 5%;
    border-radius: 50%;
    cursor: pointer;
    border: 2.5px solid black;
}

#aras {
    text-decoration-line: none;
    background-image: linear-gradient(to left, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

#aras:hover {
    background-image: linear-gradient(to top, orange, red);
    cursor: pointer;
}

.song {
    background-image: linear-gradient(to left, darkorange, red);
    -webkit-background-clip: text;
    color: transparent;
}

/*.info {
    padding: 0;
    background-color: #d19b3d;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    width: 320px;
    height: 420px;
    padding-top: 10px;
    margin: auto;
    position: relative;
    top: 20px;
    border: 3px solid black;
}*/

.animals {
    padding: 0;
    background-color: #d19b3d;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    width: 60%;
    height: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    position: relative;
    top: 20px;
    border: 3px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}

.animalbutton {
    
    background-image: linear-gradient(lightblue, lightgray);
	background-color: lightgray;
    border-radius: 4px;
	cursor: pointer;
	color: black;
	font-family: "Helvetica";
	font-weight: 100;
	font-size: 5;
    padding: 5px;
	text-decoration: none;
    text-decoration-line: none;
}

.animalbutton:hover {
    background-image: linear-gradient(lightblue, blue);
	background-color: blue;
    color: white;
}
.songs {
    width: 100%;
}

.a_list {
    width: 85%;
    align-content: center;
    background-color: #d19b3d;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: 3px solid black;
}

.header {
    
}

.footer {
    background-color: #1f0d0f;
    width: 100%;
    height: 400px;
    left: 0px;
    margin-bottom: 0;
    overflow: auto;
}

.overview {
    width:17%;
    background-color: #d19b3d;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    opacity: 0.95;
    padding: 20px 20px;
    margin: 10px 10px;
    text-align: center;
}

.about_me {
    color: white;
    font-family: sans-serif;
    width: 20%;
    position: left;
    margin-left: 100px;
}

.img {
    width: 100%;
}

.wflogo {
    width: 20%;
}

.wildlife {
    text-align: center;
}

.body {
    width: 77%;
    float: right;
    height: 500px;
    margin: 10px 10px;
}

.wf {
    width: 100%;
    text-align: center;
    height: 300px;
}

.wf td {
    background-color: darkgrey;
    padding: 50px;
    border: 3px solid black;
}

.wf td:hover {
    background-color: gray;
}

.wf td:first-child {
    padding: 10px 10px;
}

.wildlife {
    text-decoration-line: none;
    background-image: linear-gradient(to left, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

.wildlife:hover {
    background-image: linear-gradient(to top, orange, red);
}

.main {
    margin: 15px 15px;
    text-align: center;
    width: 50%;
    position: center;
}