@font-face {
    font-family: 'balooregular';
    src: url('font/baloo-regular-webfont.woff2') format('woff2'),
         url('font/baloo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.web-output iframe, .julia iframe, .c iframe, .java iframe, .python iframe {
    content:inherit;
    background-color: whitesmoke;
    box-shadow: none;
    border: none;
    height: 320px;
    width: 100%;
}

.web-output, .code-output {
    width: 1190px;
    border: 2px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: whitesmoke;
}

#lang {
    width: 320px;
    font-size: 100px;
}

.runBtn {
    float: right;
    border-radius: 10px;
    top: 50%;
    right: 0px;
    background-color: #262626;
    /*background-image: linear-gradient(to bottom left, #262626, #1f1f1f);*/
    border: none;
    border-color: transparent;
    color: white;
    padding: 7px 14px;
    margin: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-family: "balooregular";
    cursor: pointer;
}